<nav id="nav-main">

    <div class="slogan">
    <img class="nav-img" src="../../img/cupcake_time.png">
    <p>All the best recipes, in a nutshell.</p>
    </div>

    <div class="nav-box">
        <a href="/home" class="link nav-items">home</a>
        <a href="/recipes" class="link nav-items">all recipes</a>
        <a href="/about" class="link nav-items">about</a>
   </div>
   
</nav>