<div class="page">

<h1 class="title">{{title}}</h1>

<h2>Food is the salt of the Earth...</h2>
  
  <div class="recipe-container">
      <div class="grid-item salty">Let's taco bout it
        <img class="recipe-img" src="../img/tacos.jpg" width="250px">
      </div>
      <div class="grid-item salty">Don't go bacon my heart
        <img class="recipe-img" src="../img/bacon.jpg" width="250px">
      </div>
      <div class="grid-item salty">You want a pizza me?
        <img class="recipe-img" src="../img/pizza.jpg" width="250px">
      </div>

    </div>
  
</div>