<div class="page">

<h1 class="title">{{title}}</h1>

<h2>You prefer sugar? That's so sweet!</h2>

  <div class="recipe-container">

      <div class="grid-item sugary">You're one in a melon
        <img class="recipe-img" src="../img/melon.jpg" width="250px">
      </div>
      
      <div class="grid-item sugary">I'm your biggest flan
        <img class="recipe-img" src="../img/flan.jpg" width="250px">
      </div>
      <div class="grid-item sugary">You're my butter half
        <img class="recipe-img" src="../img/butter.jpg" width="250px">
      </div>

    </div>
    
</div>